# SPDX-FileCopyrightText: 2025 Alexandre Gomes Gaigalas <alganet@gmail.com>
# SPDX-License-Identifier: ISC

name: Push alganet/shell-versions:latest

on:
  push:
    branches:
      - "main"
jobs:
  download:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/downloads
  build:
    needs: download
    runs-on: ubuntu-24.04

    continue-on-error: ${{ matrix.can_fail_build }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/downloads

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ matrix.tags }}
          labels: ${{ matrix.name }}
          build-args: |
            TARGETS=${{ matrix.targets }}

    strategy:
      fail-fast: true
      matrix:
        include:
          - name: latest
            can_fail_build: false
            tags: alganet/shell-versions:latest
            # AUTO-GENERATED LIST. DO NOT EDIT MANUALLY.
            targets: >
              ash_1.37.0
              ash_1.36.1
              bash_5.3
              bash_5.2.37
              brush_0.2.23
              brush_0.2.22
              dash_0.5.13
              dash_0.5.12
              hush_1.37.0
              hush_1.36.1
              ksh_shvrA93uplusm-v1.0.10
              ksh_shvrA93uplusm-v1.0.9
              loksh_7.8
              loksh_7.7
              mksh_R59c
              mksh_R58
              oksh_7.8
              oksh_7.7
              osh_0.36.0
              osh_0.35.0
              posh_0.14.1
              posh_0.13.2
              yash_2.60
              yash_2.59
              yashrs_3.0.3
              yashrs_0.4.5
              zsh_5.9
              zsh_5.8.1
